db.sqlite3
env/
__pycache__/
*.pyc
todo/__pycache__/controller.cpython-36.pyc
todo/__pycache__/urls.cpython-36.pyc
website/__pycache__/settings.cpython-36.pyc
website/__pycache__/settings.cpython-36.pyc
website/__pycache__/
website/__pycache__/settings.cpython-36.pyc
todo/__pycache__/urls.cpython-36.pyc
todo/__pycache__/models.cpython-36.pyc
todo/__pycache__/controller.cpython-36.pyc
.DS_Store
todo/__pycache__/
todo/__pycache__/urls.cpython-36.pyc
todo/__pycache__/controller.cpython-36.pyc
